body {
    font-family: 'Poppins', sans-serif;
    background: white; 
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

header img {
    height: 50px;
}

header .header-content {
    display: flex;
    align-items: center;
}

header .register-button {
    margin-right: 50px;
    background-color: #D62828;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 0.7em; 
    text-decoration: none;
}

header .register-button:hover {
    background-color: #F77F00;
}

header .logo-label {
    font-weight: bold;
}

.user-info-container {
    text-align: center;
    margin-top: 100px;
    font-size: 1.2em;
    font-weight: bold;
    color: #003049;
}

.recommendation-container {
    text-align: center;
    margin: 20px 0;
    font-size: 1.1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
}

.recommendation-source-container {
    text-align: center;
    margin: 20px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #003049;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.card {
    display: inline-block;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    background-color: #FCBF49;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #003049;
}

.card p {
    font-size: 0.9em;
    color: #666;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card:hover img {
    opacity: 0.3;
}

.card:hover p {
    opacity: 1;
}

.show-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #D62828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.show-more-button:hover {
    background-color: #F77F00;
}
