body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: white;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

header img {
    height: 50px;
}

header .header-content {
    display: flex;
    align-items: center;
}

header .register-button {
    margin-right: 50px;
    background-color: #D62828;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 0.7em; 
    text-decoration: none;
}

header .register-button:hover {
    background-color: #F77F00;
}

header .logo-label {
    font-weight: bold;
}

main {
    padding: 80px 20px 20px; /* Adjusted padding to account for fixed header */
    flex: 1;
    text-align: center;
}

.image-gallery {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.image-gallery img {
    width: 100%;
    height: 60vh; /* Consistent height */
    object-fit: cover;
    display: none;
}

.image-gallery img.active {
    display: block;
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    border-radius: 5px;
    display: none;
}

.image-caption.active {
    display: block;
}

.about {
    background-color: rgba(234, 226, 183, 0.2);
    width: 50%;
    text-align: justify;
    float: right;
    padding: 20px;
}

.switch-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    padding: 10px;
    z-index: 1;
}

.switch-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.switch-button.prev {
    left: 10px;
}

.switch-button.next {
    right: 10px;
}

footer {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.about h1 {
    color: #003049;
}

.learn-more-button {
    background-color: #fcbf49;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.learn-more-button:hover {
    background-color: #F77F00;
    color: white;
}

.discover {
    font-size: 70px;
    color: #003049;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.highlight-tourist {
    color: #D62828;
}
.highlight-attraction {
    color: #FCBF49;
}

.discover-now {
    display: inline-block;
    background-color: #D62828;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    margin-bottom: 100px;
    text-align: center;
}

.discover-now:hover {
    background-color: #F77F00;
}

.discover-now-container {
    text-align: center;
    margin-top: 20px;
}