body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: white;   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 100vh; 
}


.rating-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 70vh;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    margin: auto; /* Center the form */
}

.rating-item {
    margin: 15px 0;
}

.rating-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #003049;
}

.rating-options {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.rating-options input {
    margin-right: 5px;
}

.rating-submit-button, .rating-clear-button {
    margin-top: 20px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.rating-submit-button {
    background-color: #D62828;
}

.rating-submit-button:hover {
    background-color: #f75252;
}

.rating-clear-button {
    background-color: white;
    color: black;
}

.rating-clear-button:hover {
    background-color: #fcbf49;
}

.rating-container h1 { 
    color: #D62828;
}

.rating-container h3 { 
    color: #003049;
}

.back-link {
    font-size: 11px;
}